#homePage {
  height: calc(100dvh - 125px);
  margin-top: -50px;

  .row {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .image {
    width: 75px;
    aspect-ratio: 1/1;
    object-fit: cover;
    margin: 0 15px 0 10px;
  }

  .wordWrapper {
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    padding: 0 0 0 16px;
  }

  .span {
    font-family: Noto Sans, sans-serif;
    font-weight: 600;
    font-size: 48px;
    line-height: 86px;
    letter-spacing: -3%;
    text-align: center;
    color: #1F1F1F;
  }

  .yazi {
    padding: 16px;
  }

  .box {
    position: relative;
    aspect-ratio: 1 / 1;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 590px;

    .wheel-wrapper {
      position: relative;
      width: 100%;
      height: 100%;

      .wheel {
        width: 100%;
        aspect-ratio: 1 / 1;
        border-radius: 50%;
        background: #fff;
        position: absolute;
        top: 0;
        left: 0;
        overflow: hidden;
      }

      .rotating {
        animation: spin 10s linear infinite;
      }

      .center-text {
        position: absolute;
        width: 40%;
        height: 40%;
        border-radius: 50%;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background: white;
        box-shadow: rgba(99, 99, 99, 0.2) 0 2px 8px 0;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        padding: 20px;
        box-sizing: border-box;
        z-index: 9999;
        pointer-events: none;
        font-family: Noto Sans, sans-serif;
        font-weight: 500;
        font-size: 15px;
        line-height: 28.92px;
        letter-spacing: -3%;
        text-transform: capitalize;


        .circle-center {
          border-radius: 50%;
          border: 1px solid #E5E5E5;
          height: 220px;
          aspect-ratio: 1/1;
          display: flex;
          justify-content: center;
          align-items: center;

          .circle-center-content {
            border-radius: 50%;
            border: 2px solid #00778138;
            width: 190px;
            height: 190px;
            display: flex;
            justify-content: center;
            align-items: center;
          }
        }
      }
    }

    .slice {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      transform-origin: center center;
      display: flex;
      justify-content: center;
      align-items: flex-start;
      pointer-events: none;

      .wedge-img {
        transform: translateY(-10%);
        rotate: 55deg;
        position: absolute;
        z-index: -2;
        width: 38%;
        pointer-events: auto;
      }

      .slice-text {
        position: relative;
        rotate: -85deg;
        z-index: 1000;
        margin-top: 80px;
        margin-left: 27px;
        color: #fff;
        font-size: 13px;
      }
    }

    @keyframes spin {
      from {
        transform: rotate(0deg);
      }
      to {
        transform: rotate(360deg);
      }
    }
  }

  .item {
    height: 75px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    flex-direction: row;
    padding: 0 16px 8px;
    margin-top: 125px;

    .text {
      font-family: Noto Sansm, sans-serif;
      font-weight: 400;
      font-size: 16px;
      line-height: 100%;
      vertical-align: middle;
      color: #474747;
      display: flex;
      align-items: center;
      justify-content: center;
      min-width: 200px;
      gap: 10px;

      span {
        min-width: 150px;
        width: 100%;
      }

      .line {
        height: 1px;
        width: 80px;
        background-color: #474747;
      }
    }

    .circlePhone {
      background: #affba8;
      height: 100px;
      aspect-ratio: 1/1;
      border-radius: 50%;
      margin-right: 100px;
    }

    @media screen and (max-width: 1100px) {
      .text {
        font-size: 12px;
      }
    }
  }

  @media screen and (max-width: 1100px) {

    margin-top: 0;
    .span {
      font-family: Noto Sans, sans-serif;
      font-weight: 600;
      font-size: 20px;
      line-height: 36px;
      letter-spacing: -3%;
      text-align: center;
      color: #1F1F1F;
    }

    .image {
      width: 50px;
    }

    .box {
      .wheel-wrapper {
        .center-text {
          width: 130px;
          height: 130px;
          font-size: 8px;
          line-height: 1.5;

          .circle-center {
            height: 115px;
            width: 115px;

            .circle-center-content {
              border: 2px solid #00778138;
              width: 100px;
              height: 100px;
            }
          }
        }
      }

      .slice {
        .wedge-img {
          transform: translateY(-10%);
          rotate: 55deg;
          position: absolute;
          z-index: 10;
          width: 45%;
        }

        .slice-text {
          position: relative;
          rotate: -85deg;
          z-index: 999;
          margin-top: 67px;
          margin-left: 17px;
          color: #fff;
          font-size: 11px;
        }
      }
    }
  }

  @media screen and (max-width: 400px) {
    .span {
      font-family: Noto Sans, sans-serif;
      font-weight: 600;
      font-size: 25px;
      line-height: 45px;
      letter-spacing: -3%;
      text-align: center;
      color: #1F1F1F;
    }

    .image {
      width: 40px;
    }
    .box {
      .wheel-wrapper {
        .center-text {
          width: 130px;
          height: 130px;
          font-size: 8px;
          line-height: 1.5;

          .circle-center {
            height: 115px;
            width: 115px;

            .circle-center-content {
              border: 2px solid #00778138;
              width: 100px;
              height: 100px;
            }
          }
        }
      }

      .slice {
        .wedge-img {
          transform: translateY(-10%);
          rotate: 55deg;
          position: absolute;
          z-index: 10;
          width: 45%;
          border-radius: 50% !important;overflow: hidden;
        }

        .slice-text {
          position: relative;
          rotate: -85deg;
          z-index: 999;
          margin-top: 60px;
          margin-left: 20px;
          color: #fff;
          font-size: 9px;
          font-weight: 500;
        }
      }
    }
  }
}

.denizAti {
  position: absolute;
  top: -400px;
  left: -400px;
  width: 1200px;
}

.mavi {
  position: absolute;
  top: 200px;
  right: 0;
  width: 500px;
}

@media screen and (max-width: 1100px) {
  .denizAti {
    position: absolute;
    top: -200px;
    left: -200px;
    width: 80%;
  }

  .mavi {
    position: absolute;
    top: 150px;
    right: 0;
    width: 200px;
  }
}

@media screen and (max-width: 400px) {
  .denizAti {
    position: absolute;
    top: -200px;
    left: -200px;
    width: 120%;
  }

  .mavi {
    position: absolute;
    top: 150px;
    right: 0;
    width: 200px;
  }
}